.sidebar {
  background-color: #121534;
  min-height: 100vh;
  box-shadow: 0px 20px 40px black;
  z-index: 2;
  padding: 28px;
}

.logo {
  color: white;
  text-align: center;
  font-size: 200%;
  letter-spacing: 0.3em;
  font-family: sans-serif;
}

.startCoding > p {
  color: #B7B8C3;
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
} 
.rainbow {
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
  height: 90px;
  border-radius: 5px;
  padding: 5px;
}
.banner {
  background-color: black;
  height: 55px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-top: 33px;
}

.codeEditorLink {
  margin-top: -17px;
}

.divider {
  height: 4px;
  border-radius: 2px;
  margin-top: 20px;
}
.green {
  background-color: #1DDF00;
  border-color: #1DFF00;
}

.option {
  color: white;
  font-weight: bold;
}

.yellow {
  background-color: #FFFB00;
  border-color: #FFFB00;
}

.pro-membership {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.pro-membership > span {
 background-color: #FFFB00;
 color: black;
 border-radius: 3px;
 padding: 1px 3px;
 margin-left: 5px;
}
